name: Update Prayer Times

on:
  schedule:
    - cron: "0 1 1 * *"  # 1st day of every month at 01:00 UTC
  workflow_dispatch:

jobs:
  update-namaz:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install requests beautifulsoup4 boto3

      - name: Run scraper
        run: python scripts/fetch_prayertimes.py

      - name: Upload JSON to R2
        env:
          R2_ACCOUNT_ID: ${{ secrets.R2_ACCOUNT_ID }}
          R2_ACCESS_KEY_ID: ${{ secrets.R2_ACCESS_KEY_ID }}
          R2_SECRET_ACCESS_KEY: ${{ secrets.R2_SECRET_ACCESS_KEY }}
          R2_BUCKET_NAME: ${{ secrets.R2_BUCKET_NAME }}
        run: python scripts/upload_to_r2.py
